{% extends "template.twig.html" %}

{% block styles %}
    <link rel="stylesheet" href="/css/cart/cart.css">
{% endblock %}

{% block title %}
 <h1>Carrito</h1>
{% endblock %}

{% block body %}

 <div class="wrapper cart-page">
  {% if cart %}
   <form role="form" method="POST" action="/cart-pay" name="pay_cart_form" class="pay_cart">
       <div class="row header">
           <div class="col-5">Producto</div>
           <div class="col-3">Cantidad</div>
           <div class="col-4 text-right">SubTotal</div>
       </div>
        {% for itemId,itemValues in cart.cart %}
            <div class="row product-{{ itemId }}">
              <div class="col-5"><span class="name">{{ itemValues.name }}</span></div>
               <div class="col-3"><input class="form-control quantity" min="0" name="quantity[]" type="number" value="{{itemValues.quantity}}" /></div>
               <div class="col-4 text-right"><span class="totalProduct">{{ itemValues.total }}</span> €</div>
              <input class="id_product" name="id_product[]" type="hidden" value="{{ itemId }}" />
            </div>
        {% endfor %}
       <div class="total-amount text-right">
           <span class="font-weight-bold">Total: <span id="totalAmountValue">{{ cart.totalAmount }}</span> €</span>
       </div>
       <div class="text-right">
           <button type="submit" class="btn next-step pay_button">Ir al pago</button>
       </div>
   </form>
  {% endif %}
 </div>

{% endblock %}