{% extends "cart/cart.twig.html" %}

{% block title %}
 <h1>Carrito - Confirmar Datos y pagar</h1>
{% endblock %}

{% block body %}

 <div class="wrapper cart-page">
     <div class="customer-data">
         <div class="row">
             <div class="col-3">
                 <span class="font-weight-bold">Nombre:</span>
             </div>
             <div class="col-9">
                 {{ customerAuthed.name }}
                 <span class="font-italic font-weight-light email">({{ customerAuthed.email }})</span>
             </div>
         </div>
         <div class="row">
             <div class="col-3"><span class="font-weight-bold">Dirección:</span></div>
             <div class="col-9">{{ customerAuthed.address }}</div>
         </div>
         <div class="row">
             <div class="col-3"><span class="font-weight-bold">Teléfono:</span></div>
             <div class="col-9">{{ customerAuthed.phone }}</div>
         </div>
     </div>
     <div class="row total-amount">
         <div class="col-3"><span class="font-weight-bold">Total a pagar:</span></div>
         <div class="col-9 font-weight-bold">{{ cart.totalAmount }} €</div>
     </div>

    <form role="form" method="POST" action="/cart-pay-confirmation" name="pay_cart_form" class="pay_cart">
       <div class="text-right">
           <button type="submit" class="btn next-step pay_button">Pagar</button>
       </div>
    </form>

 </div>

{% endblock %}