{% extends "template.twig.html" %}

{% block styles %}

{% endblock %}

{% block title %}
 <h1>Carrito</h1>
{% endblock %}

{% block body %}

 <div class="wrapper cart-page">
  {% if cart %}
   <form role="form" method="POST" name="buy_product_form" class="buy_product">
       <div class="row header">
           <div class="col-4">Producto</div>
           <div class="col-4">Cantidad</div>
           <div class="col-4">SubTotal</div>
       </div>
    {% for itemId,itemValues in cart.cart %}
        <div class="row">
          <div class="col-4"><span class="name">{{ itemValues.name }}</span></div>
           <div class="col-4"><input class="form-control" name="quantity" type="number" value="{{itemValues.quantity}}" /></div>
           <div class="col-4"><span class="totalProduct">{{ itemValues.total }} €</span></div>
          <input name="id_product" type="hidden" value="{{ itemId }}" />
        </div>
    {% endfor %}
    <button type="submit" class="btn buy_button">Comprar</button>
   </form>
  {% endif %}
 </div>

{% endblock %}