{% extends "backend_template.twig.html" %}
{% block title %}
    <h2 class="form-signin-heading">Add new category</h2>
    <hr class="colorgraph">
{% endblock %}
{% block body %}
    <form method="POST" id="new-user">
        <div class="form-group">
            <label for="name">Name</label>
            <input value="{{ user.name }}" maxlength="80" type="text" class="form-control" id="name" name="name" required>
        </div>
        {% set btnText = 'Create' %}
        {% if user.id %}
            {% set btnText = 'Edit' %}
            <input type="hidden" id="userId" name="id" value="{{ user.id }}" />
        {% endif %}
        <button type="submit" class="btn btn-primary">{{ btnText }}</button>
    </form>
{% endblock %}