{% extends "backend_template.twig.html" %}
{% block title %}
    <h2 class="form-signin-heading">Add new category</h2>
    <hr class="colorgraph">
{% endblock %}
{% block body %}
    <form method="POST" id="new-productType">
        <div class="form-group">
            <label for="name">Name</label>
            <input value="{{ productType.name }}" maxlength="80" type="text" class="form-control" id="name" name="productType[name]" required>
        </div>
        {% if productAttributes %}
            <div id="productAttributes">
                <div class="section-title">Attributes:</div>
                {% for attribute in productAttributes %}
                    {% set checkit = ''  %}
                    {% if productTypeAttributes[attribute.id] %}
                        {% set checkit = 'checked="checked"'  %}
                    {% endif %}
                    <div class="form-check form-check-inline">
                        <input {{ checkit }} class="form-check-input" type="checkbox" id="{{ attribute.name }}" value="{{ attribute.id }}" name="productType[attributes][{{ attribute.id }}]">
                        <label class="form-check-label" for="{{ attribute.name }}">{{ attribute.name }}</label>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% set btnText = 'Create' %}
        {% if productType.id %}
            {% set btnText = 'Edit' %}
            <input type="hidden" id="productTypeId" name="productType[id]" value="{{ productType.id }}" />
        {% endif %}
        <button type="submit" class="btn btn-primary">{{ btnText }}</button>
    </form>
{% endblock %}