{% extends "backend_template.twig.html" %}
{% block title %}
    <h2 class="form-signin-heading">Add new order</h2>
    <hr class="colorgraph">
{% endblock %}
{% block body %}
<form method="POST" id="new-order">
    <div class="row">
        <div class="col-12 col-sm-6">
            <label for="customer">Customer</label>
            <select class="form-control" id="customer" name="customer" required>
                <option value="0">Select one</option>
                {% for customer in customers %}
                    {% set checkit = "" %}
                    {% if customer.id == order.customer.id %}
                        {% set checkit = 'selected="selected"' %}
                    {% endif %}
                    <option {{ checkit }} value="{{ customer.id }}">{{ customer.email }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-12 col-sm-6">
            <label for="status">Order Status</label>
            <select class="form-control" id="status" name="orderStatus" required>
                <option value="0">Select one</option>
                {% for status in orderStatus %}
                    {% set checkit = "" %}
                    {% if status.id == order.status.id %}
                        {% set checkit = 'selected="selected"' %}
                    {% endif %}
                    <option {{ checkit }} value="{{ status.id }}">{{ status.value }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-12 col-sm-6">
            <label for="total">Total</label>
            <input readonly type="number" step="0.01" class="form-control" value="{{ order.total|default(0) }}"
                   id="total" name="total" required>
        </div>
    </div>

    {% set btnText = 'Create' %}
    {% if order.id %}
        {% set btnText = 'Edit' %}
        <div id="order-lines">
            <a id="addOrderLine" role="button" class="btn btn-info">Add Line</a>
            <div class="lines-head row">
                <div class="col"><span class="font-weight-bold">Id</span></div>
                <div class="col"><span class="font-weight-bold">Product</span></div>
                <div class="col"><span class="font-weight-bold">Product Quantity</span></div>
                <div class="col"><span class="font-weight-bold">Product Price</span></div>
                <div class="col"><span class="font-weight-bold">Total</span></div>
            </div>
            <div class="lines-content row">
                {% include "admin/order/orderlines_list.twig.html" %}
            </div>
        </div>
        <input type="hidden" id="orderId" name="id" value="{{ order.id }}"/>
    {% endif %}
    <button type="submit" class="btn btn-primary">{{ btnText }}</button>
</form>
{% endblock %}
