{% extends "backend_template.twig.html" %}
{% block title %}
<h2 class="form-signin-heading">Add new order</h2>
<hr class="colorgraph">
{% endblock %}
{% block body %}
<form method="POST" id="new-order">
    <div class="row">
        <div class="col-12 col-sm-6">
            <label for="name">Name</label>
            <input value="{{ order.name }}" maxlength="80" type="text" class="form-control"
                   id="name" name="name" required>
        </div>
        <div class="col-12 col-sm-6">
            <label for="email">Email</label>
            <input maxlength="80" type="email" class="form-control" value="{{ order.email }}"
                   id="email" name="email" required>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6">
            <label for="phone">Phone</label>
            <input value="{{ order.phone }}" maxlength="15" type="tel" class="form-control"
                   id="phone" name="phone" required>
        </div>
        <div class="col-12 col-sm-6">
            <label for="address">Address</label>
            <input maxlength="80" type="test" class="form-control" value="{{ order.address }}"
                   id="address" name="address" required>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6">
            <label for="password">Password</label>
            <input maxlength="100" type="password" class="form-control"
                   id="password" name="password">
        </div>
        <div class="col-12 col-sm-6">
            <label for="confirmPassword">Confirm Password</label>
            <input maxlength="100" type="password" class="form-control"
                   id="confirmPassword" name="confirmPassword">
        </div>
    </div>
    {% set btnText = 'Create' %}
    {% if order.id %}
        {% set btnText = 'Edit' %}
        <input type="hidden" id="orderId" name="id" value="{{ order.id }}"/>
    {% endif %}
    <button type="submit" class="btn btn-primary">{{ btnText }}</button>
</form>
{% endblock %}