{% if orders %}
    <div class="orders_list list">
        <div class="col-12">
            <div class="row">
                <div class="col-2 text-left">Id</div>
                <div class="col-7">Productos</div>
                <div class="col-3 text-right">Total</div>
            </div>
        </div>
        {% for order in orders %}
            <div class="order item_list col-12">
                <div class="row">
                    <div class="col-2 text-left">
                        {{ order.id }}
                    </div>
                    <div class="col-7 text-left">
                        <div class="row">
                            {% for line in order.OrderLines %}
                                <div class="col-6">{{ line.productName }}</div>
                                <div class="col-6">{{ line.productQuantity }} x {{ line.productPrice }} € = {{ line.total }} €</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-3 text-right">
                        {{ order.total }} €
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="alert alert-info">{{ noOrders }}</div>
{% endif %}