.product-page .imagen {
    border-right: 1px solid #0f6674;
    display: flex;
    height: 100%;
}

.product-page .product form.buy_product span {
    display: block;
    margin-bottom: 15px;
}

.product-page .product .name {
    font-size: 30px;
    color: #0f6674;
    font-weight: bold;
}

.product-page .product .caducidad {
    font-size: 12px;
    color: #5a6268;
}

.product-page .product .price {
    font-size: 40px;
    color: #fd7e14;
}