<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Juinsa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/backend_template.css">
    {% block styles %}
    {%  endblock %}
</head>
<body class="backend">
    <header>
        <div class="bands">
            <div class="barra-superior">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            {% if userAuthed.name %}
                                <ul class="nav justify-content-start barra-logueado">
                                    <li>Hola <a href="/admin/myPanel" title="Go to my customer page">{{ userAuthed.name }}!</a></li>
                                </ul>
                            {% endif %}
                            <ul class="nav justify-content-end">
                            {% if userAuthed.name %}
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout">Logout</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/login">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/register">Registro</a>
                                </li>
                            {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 title">
                        <a href="/admin/panel" title="Ir a la home">Mini Framework Shop</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid page-title">
        <div class="wrapper">
            {% block title %}
            {%  endblock %}
        </div>
    </div>

    <div class="container">
        <div id="messages">
            {% include "lists/messages_list.twig.html" %}
        </div>
    </div>

    <div class="container-fluid">
        {% block body %}
        {%  endblock %}
    </div>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/scripts/buy.js"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>