{% extends "backend_template.twig.html" %}
{% block title %}
    <h2 class="form-signin-heading">Add new product</h2>
    <hr class="colorgraph">
{% endblock %}
{% block body %}
    <form method="POST" id="new-product">
        <div class="form-group">
            <label for="name">Name</label>
            <input maxlength="80" type="text" class="form-control" id="name" name="name">
        </div>
        <div class="row">
            <div class="col">
                <label for="category">Category</label>
                <select class="form-control" id="category" name="category">
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <label for="type-product">Type Product</label>
                <select class="form-control" id="type-product" name="type-product">
                    {% for type in productTypes %}
                        <option value="{{ type.id }}">{{ type.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group attributes">
            {% include "/admin/product/ajax_attributes.twig.html" %}
        </div>
        <button type="button" class="btn btn-primary">Create</button>
    </form>
{% endblock %}

{% block scripts %}
    <script src="/scripts/admin/products.js"></script>
{% endblock %}