{% extends "backend_template.twig.html" %}
{% block title %}
    <h2 class="form-signin-heading">Productos</h2>
    <hr class="colorgraph">
{% endblock %}
{% block body %}
    <div class="tools">
        <div class="row">
            <div class="col">
                <a id="create-item" class="btn btn-primary" href="/admin/product/create" role="button">Create Product</a>
            </div>
            <div class="col text-right">
                <form method="POST" class="form-inline">
                    <input class="form-control col" type="text" name="nameOrId" placeholder="Search a product by name or id">
                    <button type="submit" class="btn btn-secondary col-3">Search</button>
                </form>
            </div>
        </div>
    </div>
    {% if products %}
        <div id="product-list" class="admin-list col-12">
            <div class="row">
                <div class="col-12 titles">
                    <div class="row">
                        <div class="col-2"><span class="font-weight-bold">Id</span></div>
                        <div class="col-4"><span class="font-weight-bold">Name</span></div>
                        <div class="col-2"><span class="font-weight-bold">Price</span></div>
                        <div class="col-3"><span class="font-weight-bold">Category</span></div>
                        <div class="col-1"><span class="font-weight-bold">Actions</span></div>
                    </div>
                </div>
                {% for product in products %}
                    <div class="col-2">{{ product.id }}</div>
                    <div class="col-4">{{ product.name }}</div>
                    <div class="col-2">{{ product.price }}</div>
                    <div class="col-3">{{ product.category }}</div>
                    <div class="col-1">
                        <a href="/admin/product/edit/{{ product.id }}">Edit</a>
                        <a href="/admin/product/remove/{{ product.id }}">Delete</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="alert alert-info">
            No hay productos para mostrar
        </div>
    {% endif %}
{% endblock %}